---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1> -->

  {% if site.header_img %}<img class="header-image" src="{{ site.header_img }}">{% endif %}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.published_on_site %}&nbsp;&mdash;&nbsp;<span class="post-published-on">({{ post.published_on_site }})</span>{% endif %}
        </span>

        <h4>
          {% if post.link %}
            <a class="post-link" href="{{ post.link }}">{{ post.title }}</a>
          {% else %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        </h4>
      </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> --></p>

</div>
